.title {
  background-color: red;
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ordertitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body {
  background-color: azure;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, red, wheat);
}
.menutitle {
  display: flex;
  flex-direction: row;
}
@media (min-width: 992px) {
  .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .card:hover .btn {
    opacity: 1;
  }
}
